In [1]:
import numpy as np
import pandas as pd
import vaex

In [34]:
# plotting
import seaborn as sns
from wordcloud import WordCloud
import matplotlib.pyplot as plt

# Import and preprocessing the tweets

In [3]:
#laster inn dataene
columns = ['sentiment', 'ids', 'date', 'flag', 'user', 'text']
df = pd.read_csv('../dataset/training.1600000.processed.noemoticon.csv', encoding='ISO-8859-1', names=columns)

In [4]:
df.head()

,sentiment,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."

In [5]:
#velger de kolonnene vi bryr oss om
df = df[['sentiment', 'text']]
df.head()

,sentiment,text
0,0,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1,0,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
2,0,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,my whole body feels itchy and like its on fire
4,0,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."

In [27]:
'''
Ønsker nå å rydde litt i dataene
1. Gjøre alt til liten skrift
2. bytte ut alt av URLs
3. bytte ut @user
4. Korte ned ord som bruker unormalt mange bokstaver i ett ord ("type heyyyy blir til heyy")
'''

text, sentiment = list(df['text']), list(df['sentiment'])

def preprocess(tweetData):
    processedTweet= []
    
    urlPattern        = r"((http://)[^ ]*|(https://)[^ ]*|( www\.)[^ ]*)"
    userPattern       = '@[^\s]+'
    alphaPattern      = "[^a-zA-Z0-9]"
    sequencePattern   = r"(.)\1\1+"
    seqReplacePattern = r"\1\1"
    
    for tweet in tweetData:
        #1 
        tweet = tweet.lower()
        #2
        tweet = re.sub(urlPattern,' URL',tweet)     
        #3
        tweet = re.sub(userPattern,' USER', tweet)        
        #4
        tweet = re.sub(sequencePattern, seqReplacePattern, tweet)
        
        processedTweet.append(tweet)
    return processedTweet

In [28]:
processedData = preprocess(text)

In [30]:
print(processedData[3])

my whole body feels itchy and like its on fire

In [40]:
from pandas import DataFrame
dfp = DataFrame(processedData,columns=['text'])
dfp['sentiment'] = sentiment

### Saving the proccessed data

In [45]:
dfp.to_csv(r'./prcessedData.csv')

In [2]:
vaex_df = vaex.from_csv('../dataset/prcessedData.csv', convert=True, chunk_size=5_000_00)